﻿@model IEnumerable<InventoryTracker.Models.UserAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "UserAccounts", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           
                @Html.ActionLink("Edit", "Edit", "UserAccounts", new { id = item.UserId }, new {@class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", "UserAccounts", new { id = item.UserId }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Delete", "Delete", "UserAccounts", new { id = item.UserId }, new { @class = "btn btn-danger" })
            
        </td>
    </tr>
}

</table>
<div>
    <a class="btn btn-primary" href="http://localhost:55990/InventoryItems/Index">Inventory Index</a>
</div>


