﻿<br />
<div class="well">
    <div class="row" id="itemRow">
        <h1 id="loadingHeader" class="text-center">Loading Items <img src="~/Content/loading.gif"/></h1>
        <div class="col-sm-6 col-md-4" id="itemTemplate" style="display:none">
            <div class="thumbnail">
                <img class="panel" src="~/Content/banana.jpg" alt="banana">
                <div class="caption">
                    <h3 data-id="itemName"></h3>
                    <p>Inventory: <span data-id="itemQuantity">10</span></p>
                    <p>
                        <a href="#" data-id="buyButton" class="btn btn-primary btn-lg" role="button">Buy</a>
                        <a href="#" data-id="soldOutButton" style="display:none" class="btn btn-danger" disabled role="button">Sold Out</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var template, itemRow;
        $(document).ready(function () {
            template = $('#itemTemplate');
            itemRow = $('#itemRow');
            $.getJSON("/api/InventoryItemsAPI").done(function (data) {
                console.log(data);
                $('#loadingHeader').hide();
                for (var x = 0; x < data.length; x++) {
                    var item = data[x];
                    console.log(data[x]);
                    createOrUpdateItem(item);
                }
            });
        });

        function createOrUpdateItem(itemModel) {
            var testItem = $('[data-item-id=' + itemModel.Id + ']');
            if (testItem.length === 0) {
                var item = template.clone();
                item.show();
                item.attr('data-item-id', itemModel.Id);
                item.find("[data-id=buyButton]").click(buyItem).attr('data-buy-item-id', itemModel.Id);
                item.find("[data-id=soldOutButton]").click(function (e) { e.preventDefault() });
            } else {
                var item = testItem;
            }
            item.find("[data-id=itemName]").text(itemModel.Name);
            item.find("[data-id=itemQuantity]").text(itemModel.Quantity);
            //item.find("[data-id=itemPrice]").text(itemModel.Price);
            if (itemModel.Quantity <= 0) {
                item.find("[data-id=buyButton]").hide();
                item.find("[data-id=soldOutButton]").show();
            } else {
                item.find("[data-id=buyButton]").show();
                item.find("[data-id=soldOutButton]").hide();
                //item.find("[data-id=itemPrice]").text("-1.00");
            }

            if (testItem.length === 0) {
                item.appendTo(itemRow);
            }
        }

        function buyItem(e) {
            e.preventDefault();
            console.log(e.currentTarget.attributes['data-buy-item-id']);
            var itemID = e.currentTarget.getAttribute('data-buy-item-id');
            $.post("/api/InventoryItemsAPI/" + itemID).success(function () {
                console.log("Item bought successfully!");
            });
        }

        $(function () {
            var inventoryTrackerHub = $.connection.inventoryTrackerHub

            inventoryTrackerHub.client.addMessage = function (message) {
                console.log('got message!', message)
            };

            inventoryTrackerHub.client.buttonPress = function () {
                var counterDiv = $('#inventoryCount');

                var newInventoryCount = parseInt(counterDiv.text()) - 1;
                if (newInventoryCount <= 0) {
                    $('#buyButton').addClass('btn-danger').text('Sold out');
                    counterDiv.text(0);
                    return;
                }

                counterDiv.text(parseInt(counterDiv.text()) - 1);
            }

            inventoryTrackerHub.client.UpdateInventory = function (item) {
                console.log("hi");
                console.log(item);
                createOrUpdateItem(item);
            }

            $.connection.hub.start().done(function () {
                console.log('connected!');
            });

            $('#buyButton').click(function () {
                $.post('/api/Values')
            });
        });
    </script>
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.js  ")
    @Scripts.Render("~/signalr/hubs")
}