﻿@model IEnumerable<InventoryTracker.Models.InventoryItem>

@{
    ViewBag.Title = "Inventory";
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="SignalR/Hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var chat = $.connection.chatHub
            chat.All.writeMessage = function (msg) {
                $("#messages").append("<li>" + msg + "</li>");
            }
            $("#new").click(function () {
                chat.broadcastMessage($("#new").val())
            });
            $.connection.hub.start();
        });
    </script>
    }
<h2>Inventory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
